{
  "production": {
    "gasUrl": "https://script.google.com/macros/s/AKfycbxsKycDe4W8RWlXmSWlQY6CJUnUbBoJxLSsL3uknJLPBgUA84GcrtV1Btlv_7_RCyldIA/exec",
    "spreadsheetId": "1pN937eK0xg4svGMHCdBfUhr3iAihuDl_fkj8U_XrL2g",
    "pagesUrl": "https://dantrusov10.github.io/itmen-pipeline/",
    "github": "https://github.com/dantrusov10/itmen-pipeline"
  },
  "staging": {
    "gasUrl": "https://script.google.com/macros/s/AKfycbznkPIdUDj0mG8XdZ5lprz13u6r5DqqlpFj4EwOlc2vcgidwyGh2clHQv_dC2ro8WJ42w/exec",
    "spreadsheetId": "1AbPqam0TkVdbtmyQ_KdjLGXw93qNSs4Svug8pMfP1_c",
    "pagesUrl": "https://dantrusov10.github.io/itmen-pipeline-staging/",
    "github": "https://github.com/dantrusov10/itmen-pipeline-staging"
  }
}
